*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url('image/flr1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 50vh;

}
nav{
    font-weight:500;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.navbar-brand{
    font-family: gabriola ;
    font-weight: 300;
    font-size: 30px;
    color: rgb(52, 4, 58);
}
.nav-item{
    font-size: 15px;
    font-family:cursive;
    font-weight: 300;
}

.section-1{
    margin-left: 700px;
    margin-top: 150px;
    color: black;
}

.section-1 h1{
    font-size: 60px;
    color: rgb(4, 23, 49);
    margin-bottom: 20px;
}

.section-1 .btn{
    margin-left: 150px;
    border: 2px solid #000;
    margin-bottom: 20px;
}

.about{
    margin-top: 340px;

}
.about h1{
    font-family: gabriola ;
    font-weight: 300;
    font-size: 60px;
    color: rgb(24, 58, 4);
    margin-bottom: 20px;
}
.card{
    transition: 2s;
}
.card:hover{
    background-color: rgb(182, 205, 50);
}

.spotlight{
    margin-top: 20px;
    background-color: rgba(228, 202, 88, 0.822);
}

.spotlight img{
    /* max-height: 350px; */
    filter: drop-shadow(10px 10px 10px #444343);
}

.spotlight h1{
    font-family: gabriola ;
    font-weight: 300;
    font-size: 50px;
    color: rgb(58, 4, 26);
    padding: 20px;
}
.new-flr h2{
    font-family: gabriola ;
    font-weight: 300;
    font-size: 50px;
    color: rgb(4, 58, 55);
    padding: 20px;
}
.new-flr p{
    color: #0c1013;
}

.services h1{
    font-family: gabriola ;
    font-weight: 300;
    font-size: 60px;
    color: rgb(4, 58, 28);
    padding: 20px;
}


@media only screen and (max-width: 926px){
    .section-1{
        margin-left: 80px;
        margin-top: 100px;
        color: black;
    }
    
    .section-1 h1{
        font-size: 60px;
        color: rgb(4, 23, 49);
        margin-bottom: 20px;
    }
    
    .section-1 .btn{
       
        border: 2px solid #000;
    }
    .about{
        margin-top: 50px;
    
    }
    .new-flr p{
        display: none;
        
    }
    }
    @media only screen and (max-width: 430px){
    .section-1{
        margin-left: 10px;
        margin-top: 50px;
        color: black;
    }
    
    .section-1 h1{
        font-size: 60px;
        color: rgb(4, 23, 49);
        margin-bottom: 20px;
    }
    
    .section-1 .btn{
        margin-left: 0px;
        border: 2px solid #000;
    }
    .about{
        margin-top: 40px;
    
    }
    .new-flr p{
        display: none;
        
    }
    }
    
    @media only screen and (max-width: 766px){
        .spotlight img{
            max-width: 200px;
            filter: drop-shadow(10px 10px 10px #444343);
        }
        .spotlight .col{
            max-width: 200px;
        }
    }
